.sidebar {
  margin-top: 30px;
  width: 200px;
}

.sidebar a {
  display: flex;
  margin: 20px 0;
  user-select: none;
}

.sidebar a p {
  font-weight: 200;
  margin-right: 10px;
  color: grey;
}

.sidebar .active p {
  color: #000;
  font-weight: 400;
}
