.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(234, 234, 234);
  padding: 10px 0;
  margin-bottom: 20px;
}

.logo {
  width: 45px;
  margin-left: 40px;
}

.header div {
  display: flex;
}

.header span {
  display: flex;
  align-items: center;
  color: grey;
  height: 50px;
  position: relative;
}

.header span p {
  margin-right: 5px;
  font-size: 0.9rem;
}

.header .dropbutton {
  cursor: pointer;
  user-select: none;
}

.header .dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  width: 150px;
  border-radius: 5px;
}

.dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown ul a {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
  font-size: 0.8rem;
  transition: all 0.2s ease;
}

.dropdown ul a:last-child {
  border-bottom: none;
}

.dropdown ul a:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #a62626;
  color: #fff;
  height: 40px;
  width: 80px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-right: 40px;
}
